set-option -g default-shell /usr/local/bin/fish
# Copy-paste integration
set-option -g default-command "reattach-to-user-namespace -l fish" 

bind -n C-j run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-j) || tmux select-pane -D"
bind -n C-k run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-k) || tmux select-pane -U"
bind -n C-l run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys C-l) || tmux select-pane -R"
bind -n C-\ run "(tmux display-message -p '#{pane_current_command}' | grep -iq vim && tmux send-keys 'C-\\') || tmux select-pane -l"

bind '"' split-window -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"


bind h resize-pane -L 10
bind l resize-pane -R 10
bind j resize-pane -D 10
bind k resize-pane -U 10

set-window-option -g mode-keys vi
